/*
* COLORS:
* body font: #2f2a2b
* light brown: #c5a077
* dark brown:#522c1c
* beige: #f5dfbf
* torquoise: #a6babc
*/

html, body{
    color: #2f2a2b; /* font color */
    font-family:'Open Sans','Arial',sans-serif; /* if not Open Sans, use Arial */
    font-size:16px;
    font-weight:300px;
    background-color:#f4f4f4;
}

/*------------------------------------------*/
/* Reusable */
/*------------------------------------------*/

section{
    background-color:#f4f4f4;
    margin: 30px auto;
    border-color:red;
    padding-top:30px;
    padding-bottom:30px;
}

.row {
    max-width: 1140px; /* only one with absolute values */
    margin: 0 auto;
    padding: 0px 5%; /* tb:0 lr:5% */
}

h1{
    font-family:'Abril Fatface',cursive;
    font-weight:400;
    font-size:300%;
    padding-left: 10px;
}

h2{
    font-family:'Abril Fatface',cursive;
    font-size:200%;
    padding-left:10px;
}

.btn:link, 
.btn:visited{ /* so that both link and visited look the same */
    display:block;
    padding:10px 30px; /* t/b:10, l/r:30 */
    font-weight: 300;
    text-decoration: none; /* get rid of underline */
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s; 
    background-color: #522c1c;
    border: 1px solid #522c1c; /* so same size as ghost */
    color: #fff; /* font color */
    margin-right: 15px; /* to space out buttons a lil */
    margin:40px 0;
}

.btn:hover,
.btn:active{
    background-color: #c5a077; /* darker */
    border: 1px solid #c5a077; /* border must be darker too */
}

/*clear float after element */
.clearfix{zoom:1}

.clearfix:after{
    content:'.';
    clear:both;
    display:block;
    height:0;
}

.divider:after{
    display: block;
    height:0.5px;
    background-color: #522c1c;
    content: " "; /* must specify content, just put empty as placeholder*/
    width: auto;
    margin: 0 auto; /* tb:0, lr: auto */
    margin-top: 10px; /* space above divider */
    margin-bottom: 10px; /* space below divider */
}

/*------------------------------------------*/
/* Header - Landing Page */
/*------------------------------------------*/
header{
    height:100vh;
    background-color:#f5dfbf;
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.6)),to(rgba(0, 0, 0, 0.6))), url(../img/bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../img/bg.jpg);
    background-size:cover;
    background-attachment:fixed;
}

.logo{
    width:15%;
    fill: #2f2a2b;
    position:absolute;
    top:5%;
    right:10%;
    auto;
}

.heading{
    position: absolute; /* only way to vertically and horizontally center*/
    width:1140px;
    bottom: 40%;
    right: 10%;
    text-align:right;
}

.heading h1{
    color:#ede3d5;
    font-size:600%;
    margin-bottom:100px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    height:30px; /* so animation won't be too dramatic */
}

.heading h2{
    color: #ede3d5;
    margin:0;
    font-size:200%;
    font-weight:400;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*------------------------------------------*/
/* Section 1 - Seasonal Beverages */
/*------------------------------------------*/
.seasonal-beverages{
    width:100%
}

.seasonal-list{ /* ul */
    list-style:none;
    width:100%;
    padding:0;
}

.seasonal-list li{
    display:inline-block;
    width:23%;
    height:400px;
    vertical-align:top;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    padding:10px;
    margin:10px;
    margin-bottom:10px;
    text-align:center;
    -webkit-transform:scale(1.0);
    transform:scale(1.0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.seasonal-list li:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    color: #c5a077;
}

.seasonal-list p{
    text-align:left;
    margin:5px;
}

p.product-name{ /*product title*/
    height:40px;
    width:100%;
    font-weight:700;
    font-size:100%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.seasonal-list .product-img{
    background-color:#fff;
    height:230px;
    -webkit-box-shadow: 0 2px 2px #cbcbcb;
    box-shadow: 0 2px 2px #cbcbcb;
}

.thumb{
    height:100%;
}

.not-found{
    margin-top:20px;
    height:80%;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

.price{
    font-weight:400px;
    font-size:130%;
    margin:0;
}

/*------------------------------------------*/
/* Section 2 - Product Details */
/*------------------------------------------*/



#product-details .row{
    text-align:center;
    background-color:#ffffff;
    width:70%;
    -webkit-box-shadow: 0 2px 2px #cbcbcb;
    box-shadow: 0 2px 2px #cbcbcb;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
}

#product-details .product-name{
    text-align:left;
    font-size:200%;
}

#product-details h2{
    text-align:left;
    font-size:150%;
    font-weight:700;
}

#product-details .product-img{
    vertical-align:middle;
}

#product-details .product-img img{
    width:70%;
    height:auto;
    margin-top:10px;
}

#product-details .product-img .not-found{
    width:50%;
    height:auto;
    margin-top:30px;
}

#product-details table{
    width:400px;
    margin-left:10px;
}

.col:last-child{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info tr td{
    vertical-align: top;
    text-align:left;
    line-height:150%;
}

.info tr td.price{
    font-size:200%;
    padding-bottom:10px;
}

.info tr td:first-child{
    font-weight:700;
    width:40%;
}

.col a{
    position:relative;
}

/*------------------------------------------*/
/* Animations using Animate.css */
/*------------------------------------------*/
